@import 'material-icons/iconfont/material-icons.scss';

@import "~@fontsource/roboto/400.css";
@import "~@fontsource/roboto/700.css";
/* You can add global styles to this file, and also import other style files */

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  